src/jade/index.jade
doctype html
html
  head
    meta(http-equiv="content-language",content="ja",charset='utf-8')
    meta(name="viewport",content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    meta(name='keywords', content='')
    meta(name='description', content='9/30の深夜1:00から朝5:00まで開催。深夜のミッドタウンに忍び込み、「■■■を盗む」体験型作品。')
    meta(name="copyright" content="Copyright(c) 2017 Blue Puddle inc. All Rights Reserves.")
    // Facebook
    meta(property='og:title', content='真夜中のミッドタウン｜六本木アートナイト2017')
    meta(property='og:type', content='website')
    meta(property='og:description', content='9/30の深夜1:00から朝5:00まで開催。深夜のミッドタウンに忍び込み、「■■■を盗む」体験型作品。')
    meta(property='og:url', content='http://xxxxxxxx-xxxxxxxx.com')
    meta(property='og:image', content='http://xxxxxxxx-xxxxxxxx.com/img/OGP.jpg')
    meta(property='og:locale', content='ja_JP')
    meta(property='og:site_name', content='')
    // Twitter
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@xxxxxxxx_an')
    meta(name='twitter:title', content='真夜中のミッドタウン｜六本木アートナイト2017')
    meta(name='twitter:description', content='9/30の深夜1:00から朝5:00まで開催。深夜のミッドタウンに忍び込み、「■■■を盗む」体験型作品。')
    meta(name='twitter:image:src', content='')
    link(href="http://xxxxxxxx-xxxxxxxx.com/img/favicon.png",rel="shortcut icon",type="image/png")
    title 真夜中のミッドタウン｜六本木アートナイト2017
    link(rel='stylesheet', href='./css/style.css', charset='utf-8')
    link(href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed",rel="stylesheet")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXXXXXXX', 'auto');
      ga('send', 'pageview');
    script(type="text/javascript",src="//typesquare.com/accessor/script/typesquare.js?UCUnJMzSMMk%3D",charset="utf-8")
  body.hideCursor
    .Wrapper#Wrapper
      header#Header.Header
        .Header__image
      .WindowSp
      canvas#Window.Window
      Section#ContentFront.Content.Content--front
        .Content__table.marginBottom60
          h2.Content__text.Content__text--inline.Content__text--title.Content__text--regular
            | Midtown in midnight
          p.Content__text.Content__text--right.Content__text--condenced
            | Roppongi Art Night 2017 Submitted works
            
        .Content__table.marginBottom60
          h2.Content__text
            | 真夜中のミッドタウン
          p.Content__text.Content__text--right
            | 六本木アートナイト2017出品作品
        p.Content__text.marginBottom120.Content__text--regular
          | 2017.9.30<span class="Content__icon Content__icon--sat">SAT</span>25:00—29:00
        p.Content__text.marginBottom60
          | 集合場所：東京ミッドタウン ガレリア1F「ISETAN SALONE」近辺
        a.Content__link.marginBottom120(href="./img/map.png",target="_blank")
          | 地図を見る
        p.Content__text.marginBottom60
          | 料金:無料
        p.Content__text.marginBottom120
          | 普段は入ることのできない営業時間外の東京ミッドタウンを舞台に、「真夜中のミッドタウンで<span class="Content__icon Content__icon--block"></span>を盗め」のメッセージから始まる、体験型作品。様々な領域で活動しているメンバーが集まったプロジェクトチーム「※」、多角的なアイデアから作品を展開します。
        p.Content__text.marginBottom
          | 所要時間40分／人数制限あり
        p.Content__text
          | 1回につき30名まで（1チーム5名）
        p.Content__text.marginBottom120
          | 事前予約不可  
        p.Content__text
          | 実施時間
        p.Content__text.Content__text--regular
          | 深夜1:00—1:40
        p.Content__text.Content__text--regular
          | 深夜2:00—2:40
        p.Content__text.Content__text--regular
          | 深夜3:00—3:40
        p.Content__text.Content__text--regular
          | 深夜4:00—4:40
        p.Content__text.Content__text--regular.marginBottom120
          | ※スタートの20分前から受付開始
        p.Content__text
          | ※のメンバー
        p.Content__text.marginBottom120
          | くろやなぎてっぺい（映像作家）佐藤ねじ（プランナー）ストウミキコ（振付家）土田祐介（写真家）中森源（デザイナー）橋本大和（エンジニア）によるプロジェクトチーム
        p.Content__text.marginBottom120.Content__text--regular
          | ©roppongi-artnight / ※
          
        a.Content__link.Content__text--regular.marginBottom60(href="http://twitter.com/share?url=http://xxxxxxxx-xxxxxxxx.com&text=ミッドタウンに忍び込み、「■■■を盗む」体験型作品。9月30日、深夜1:00決行。#真夜中のミッドタウン%0a#六本木アートナイト2017%0axxxxxxxx-xxxxxxxx.com")
          | TWEET
        a.Content__link.Content__text--regular.marginBottom60(href="http://www.facebook.com/share.php?u=http://xxxxxxxx-xxxxxxxx.com" target="_blank" onclick="window.open(encodeURI(decodeURI(this.href)), 'sharewindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!'); return false;")
          | SHARE
        a.Content__link.Content__text--regular.marginBottom250(href="http://b.hatena.ne.jp/add?mode=confirm&title=ミッドタウンに忍び込み、「■■■を盗む」体験型作品。9月30日、深夜1:00決行。&url=http://xxxxxxxx-xxxxxxxx.com", target="_blank")
          | HATENA BOOKMARK
          
          
        a.Content__link.Content__text.marginBottom60(href="https://twitter.com/xxxxxxxx_an", target="_blank")
          | ツイッターで質問
        a.Content__link.Content__text.marginBottom60(href="mailto:info@tsuchidayusuke.com")
          | メールで質問
        
        a.Content__link.Content__text.marginBottom250.js-lightTrigger.js-lightTrigger-off(href="javascript:void(0);")
          | ※電気をつける

        img.Content__image.Content__image--asterisk.js-asterisk(src="./img/img_asterisk.svg", alt="")

      Section#ContentBack.Content.Content--back
        .Content__table.marginBottom60
          h2.Content__text.Content__text--inline.Content__text--title.Content__text--regular
            | Midtown in midnight
          p.Content__text.Content__text--right
            | Roppongi Art Night 2017 Submitted works
            
        .Content__table.marginBottom60
          h2.Content__text
            | 真夜中のミッドタウン
          p.Content__text.Content__text--right
            | 六本木アートナイト2017出品作品
        p.Content__text.marginBottom120.Content__text--regular
          | 2017.9.30<span class="Content__icon Content__icon--sat">SAT</span>25:00—29:00
        p.Content__text.marginBottom60
          | 集合場所：東京ミッドタウン ガレリア1F「ISETAN SALONE」近辺
        a.Content__link.marginBottom120(href="./img/map.png",target="_blank")
          | 地図を見る
        p.Content__text.marginBottom60
          | 料金:無料
        p.Content__text.marginBottom120
          | 普段は入ることのできない営業時間外の東京ミッドタウンを舞台に、「真夜中のミッドタウンで<span class="Content__icon Content__icon--block"></span>を盗め」のメッセージから始まる、体験型作品。様々な領域で活動しているメンバーが集まったプロジェクトチーム「※」、多角的なアイデアから作品を展開します。
        p.Content__text.marginBottom
          | 所要時間40分／人数制限あり
        p.Content__text
          | 1回につき30名まで（1チーム5名）
        p.Content__text.marginBottom120
          | 事前予約不可  
        p.Content__text
          | 実施時間
        p.Content__text.Content__text--regular
          | 深夜1:00—1:40
        p.Content__text.Content__text--regular
          | 深夜2:00—2:40
        p.Content__text.Content__text--regular
          | 深夜3:00—3:40
        p.Content__text.Content__text--regular
          | 深夜4:00—4:40
        p.Content__text.Content__text--regular.marginBottom120
          | ※スタートの20分前から受付開始

          
        p.Content__text
          | ※のメンバー
        p.Content__text.marginBottom120
          | くろやなぎてっぺい（映像作家）佐藤ねじ（プランナー）ストウミキコ（振付家）土田祐介（写真家）中森源（デザイナー）橋本大和（エンジニア）によるプロジェクトチーム
        p.Content__text.marginBottom120.Content__text--regular
          | ©roppongi-artnight / ※
          
        a.Content__link.Content__text--regular.marginBottom60(href="http://twitter.com/share?url=http://xxxxxxxx-xxxxxxxx.com&text=ミッドタウンに忍び込み、「■■■を盗む」体験型作品。9月30日、深夜1:00決行。#真夜中のミッドタウン%0a#六本木アートナイト2017%0axxxxxxxx-xxxxxxxx.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'sharewindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!'); return false;")
          | TWEET
        a.Content__link.Content__text--regular.marginBottom60(href="http://www.facebook.com/share.php?u=http://xxxxxxxx-xxxxxxxx.com" target="_blank" onclick="window.open(encodeURI(decodeURI(this.href)), 'sharewindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!'); return false;")
          | SHARE
        a.Content__link.Content__text--regular.marginBottom250(href="http://b.hatena.ne.jp/add?mode=confirm&title=ミッドタウンに忍び込み、「■■■を盗む」体験型作品。9月30日、深夜1:00決行。&url=http://xxxxxxxx-xxxxxxxx.com", target="_blank")
          | HATENA BOOKMARK
          
          
        a.Content__link.Content__text.marginBottom60(href="https://twitter.com/xxxxxxxx_an", target="_blank")
          | ツイッターで質問
        a.Content__link.Content__text.marginBottom60(href="mailto:info@tsuchidayusuke.com")
          | メールで質問
        
        a.Content__link.Content__text.marginBottom250.js-lightTrigger.js-lightTrigger-off(href="javascript:void(0);")
          | ※電気をつける

        img.Content__image.Content__image--asterisk.js-asterisk(src="./img/img_asterisk.svg", alt="")

    script(src='./js/jquery-2.2.4.min.js')
    script(type="text/javascript", src="./js/device.min.js")
    script(src='./js/main.js')

site/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-language" content="ja" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="9/30の深夜1:00から朝5:00まで開催。深夜のミッドタウンに忍び込み、「■■■を盗む」体験型作品。">
    <meta name="copyright" content="Copyright(c) 2017 Blue Puddle inc. All Rights Reserves.">
    <!-- Facebook-->
    <meta property="og:title" content="真夜中のミッドタウン｜六本木アートナイト2017">
    <meta property="og:type" content="website">
    <meta property="og:description" content="9/30の深夜1:00から朝5:00まで開催。深夜のミッドタウンに忍び込み、「■■■を盗む」体験型作品。">
    <meta property="og:url" content="http://xxxxxxxx-xxxxxxxx.com">
    <meta property="og:image" content="http://xxxxxxxx-xxxxxxxx.com/img/OGP.jpg">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:site_name" content="">
    <!-- Twitter-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@xxxxxxxx_an">
    <meta name="twitter:title" content="真夜中のミッドタウン｜六本木アートナイト2017">
    <meta name="twitter:description" content="9/30の深夜1:00から朝5:00まで開催。深夜のミッドタウンに忍び込み、「■■■を盗む」体験型作品。">
    <meta name="twitter:image:src" content="">
    <link href="http://xxxxxxxx-xxxxxxxx.com/img/favicon.png" rel="shortcut icon" type="image/png">
    <title>真夜中のミッドタウン｜六本木アートナイト2017</title>
    <link rel="stylesheet" href="./css/style.css" charset="utf-8">
    <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXXXXXXX', 'auto');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript" src="//typesquare.com/accessor/script/typesquare.js?UCUnJMzSMMk%3D" charset="utf-8"></script>
  </head>
  <body class="hideCursor">
    <div id="Wrapper" class="Wrapper">
      <header id="Header" class="Header">
        <div class="Header__image"></div>
      </header>
      <div class="WindowSp"></div>
      <canvas id="Window" class="Window"></canvas>
      <Section id="ContentFront" class="Content Content--front">
        <div class="Content__table marginBottom60">
          <h2 class="Content__text Content__text--inline Content__text--title Content__text--regular">Midtown in midnight</h2>
          <p class="Content__text Content__text--right Content__text--condenced">Roppongi Art Night 2017 Submitted works</p>
        </div>
        <div class="Content__table marginBottom60">
          <h2 class="Content__text">真夜中のミッドタウン</h2>
          <p class="Content__text Content__text--right">六本木アートナイト2017出品作品</p>
        </div>
        <p class="Content__text marginBottom120 Content__text--regular">2017.9.30<span class="Content__icon Content__icon--sat">SAT</span>25:00—29:00</p>
        <p class="Content__text marginBottom60">集合場所：東京ミッドタウン ガレリア1F「ISETAN SALONE」近辺</p><a href="./img/map.png" target="_blank" class="Content__link marginBottom120">地図を見る</a>
        <p class="Content__text marginBottom60">料金:無料</p>
        <p class="Content__text marginBottom120">普段は入ることのできない営業時間外の東京ミッドタウンを舞台に、「真夜中のミッドタウンで<span class="Content__icon Content__icon--block"></span>を盗め」のメッセージから始まる、体験型作品。様々な領域で活動しているメンバーが集まったプロジェクトチーム「※」、多角的なアイデアから作品を展開します。</p>
        <p class="Content__text marginBottom">所要時間40分／人数制限あり</p>
        <p class="Content__text">1回につき30名まで（1チーム5名）</p>
        <p class="Content__text marginBottom120">事前予約不可  </p>
        <p class="Content__text">実施時間</p>
        <p class="Content__text Content__text--regular">深夜1:00—1:40</p>
        <p class="Content__text Content__text--regular">深夜2:00—2:40</p>
        <p class="Content__text Content__text--regular">深夜3:00—3:40</p>
        <p class="Content__text Content__text--regular">深夜4:00—4:40</p>
        <p class="Content__text Content__text--regular marginBottom120">※スタートの20分前から受付開始</p>
        <p class="Content__text">※のメンバー</p>
        <p class="Content__text marginBottom120">くろやなぎてっぺい（映像作家）佐藤ねじ（プランナー）ストウミキコ（振付家）土田祐介（写真家）中森源（デザイナー）橋本大和（エンジニア）によるプロジェクトチーム</p>
        <p class="Content__text marginBottom120 Content__text--regular">©roppongi-artnight / ※</p><a href="http://twitter.com/share?url=http://xxxxxxxx-xxxxxxxx.com&amp;text=ミッドタウンに忍び込み、「■■■を盗む」体験型作品。9月30日、深夜1:00決行。#真夜中のミッドタウン%0a#六本木アートナイト2017%0axxxxxxxx-xxxxxxxx.com" class="Content__link Content__text--regular marginBottom60">TWEET</a><a href="http://www.facebook.com/share.php?u=http://xxxxxxxx-xxxxxxxx.com" target="_blank" onclick="window.open(encodeURI(decodeURI(this.href)), 'sharewindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!'); return false;" class="Content__link Content__text--regular marginBottom60">SHARE</a><a href="http://b.hatena.ne.jp/add?mode=confirm&amp;title=ミッドタウンに忍び込み、「■■■を盗む」体験型作品。9月30日、深夜1:00決行。&amp;url=http://xxxxxxxx-xxxxxxxx.com" target="_blank" class="Content__link Content__text--regular marginBottom250">HATENA BOOKMARK</a><a href="https://twitter.com/xxxxxxxx_an" target="_blank" class="Content__link Content__text marginBottom60">ツイッターで質問</a><a href="mailto:info@tsuchidayusuke.com" class="Content__link Content__text marginBottom60">メールで質問</a><a href="javascript:void(0);" class="Content__link Content__text marginBottom250 js-lightTrigger js-lightTrigger-off">※電気をつける</a><img src="./img/img_asterisk.svg" alt="" class="Content__image Content__image--asterisk js-asterisk">
      </Section>
      <Section id="ContentBack" class="Content Content--back">
        <div class="Content__table marginBottom60">
          <h2 class="Content__text Content__text--inline Content__text--title Content__text--regular">Midtown in midnight</h2>
          <p class="Content__text Content__text--right">Roppongi Art Night 2017 Submitted works</p>
        </div>
        <div class="Content__table marginBottom60">
          <h2 class="Content__text">真夜中のミッドタウン</h2>
          <p class="Content__text Content__text--right">六本木アートナイト2017出品作品</p>
        </div>
        <p class="Content__text marginBottom120 Content__text--regular">2017.9.30<span class="Content__icon Content__icon--sat">SAT</span>25:00—29:00</p>
        <p class="Content__text marginBottom60">集合場所：東京ミッドタウン ガレリア1F「ISETAN SALONE」近辺</p><a href="./img/map.png" target="_blank" class="Content__link marginBottom120">地図を見る</a>
        <p class="Content__text marginBottom60">料金:無料</p>
        <p class="Content__text marginBottom120">普段は入ることのできない営業時間外の東京ミッドタウンを舞台に、「真夜中のミッドタウンで<span class="Content__icon Content__icon--block"></span>を盗め」のメッセージから始まる、体験型作品。様々な領域で活動しているメンバーが集まったプロジェクトチーム「※」、多角的なアイデアから作品を展開します。</p>
        <p class="Content__text marginBottom">所要時間40分／人数制限あり</p>
        <p class="Content__text">1回につき30名まで（1チーム5名）</p>
        <p class="Content__text marginBottom120">事前予約不可  </p>
        <p class="Content__text">実施時間</p>
        <p class="Content__text Content__text--regular">深夜1:00—1:40</p>
        <p class="Content__text Content__text--regular">深夜2:00—2:40</p>
        <p class="Content__text Content__text--regular">深夜3:00—3:40</p>
        <p class="Content__text Content__text--regular">深夜4:00—4:40</p>
        <p class="Content__text Content__text--regular marginBottom120">※スタートの20分前から受付開始</p>
        <p class="Content__text">※のメンバー</p>
        <p class="Content__text marginBottom120">くろやなぎてっぺい（映像作家）佐藤ねじ（プランナー）ストウミキコ（振付家）土田祐介（写真家）中森源（デザイナー）橋本大和（エンジニア）によるプロジェクトチーム</p>
        <p class="Content__text marginBottom120 Content__text--regular">©roppongi-artnight / ※</p><a href="http://twitter.com/share?url=http://xxxxxxxx-xxxxxxxx.com&amp;text=ミッドタウンに忍び込み、「■■■を盗む」体験型作品。9月30日、深夜1:00決行。#真夜中のミッドタウン%0a#六本木アートナイト2017%0axxxxxxxx-xxxxxxxx.com" onclick="window.open(encodeURI(decodeURI(this.href)), 'sharewindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!'); return false;" class="Content__link Content__text--regular marginBottom60">TWEET</a><a href="http://www.facebook.com/share.php?u=http://xxxxxxxx-xxxxxxxx.com" target="_blank" onclick="window.open(encodeURI(decodeURI(this.href)), 'sharewindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!'); return false;" class="Content__link Content__text--regular marginBottom60">SHARE</a><a href="http://b.hatena.ne.jp/add?mode=confirm&amp;title=ミッドタウンに忍び込み、「■■■を盗む」体験型作品。9月30日、深夜1:00決行。&amp;url=http://xxxxxxxx-xxxxxxxx.com" target="_blank" class="Content__link Content__text--regular marginBottom250">HATENA BOOKMARK</a><a href="https://twitter.com/xxxxxxxx_an" target="_blank" class="Content__link Content__text marginBottom60">ツイッターで質問</a><a href="mailto:info@tsuchidayusuke.com" class="Content__link Content__text marginBottom60">メールで質問</a><a href="javascript:void(0);" class="Content__link Content__text marginBottom250 js-lightTrigger js-lightTrigger-off">※電気をつける</a><img src="./img/img_asterisk.svg" alt="" class="Content__image Content__image--asterisk js-asterisk">
      </Section>
    </div>
    <script src="./js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="./js/device.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
